<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Mongoose Sample</title>
</head>
<body>

  <!-- This form will POST (because of the method attribute)
       to the url "/create_user", so our express app needs
       to be configured to accept a POST request for that url -->
  <form action='/create_user' method='post'>
    username: <input type="text" name="username"><br>

    <button type='submit'>Save</button>
  </form>

  <% users.forEach(function(user){ %>
    <p>User: <%= user.username %></p>
  <% }); %>

</body>
</html>
